/* .cbody { */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif;  */
  /* background-color: antiquewhite;    */
/* } */

.c_contenedor {
  padding: 3px;
  border: 3px;  
}

.c_nombre {
  color: rgb(78, 114, 148);
}

.rdatos {
  color: rgb(78, 114, 148);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cdatos {
  background-color: rgba(128, 128, 128, 0.212);
  color: rgb(80, 79, 79);
}
  
